body {
  margin: 0;
  padding: 0;
  background-image: url("https://thelebron11.com/backgroundm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}
.scratch {
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: 100;
  right: 5%;
  top: 10%;
}
.scratch .message {
  font-size: 0.75em;
}
.bubble {
  width: 50%;
}
.shoe {
  width: 80%;
  display: block;
  margin: 0 auto;
}
h2 {
  color: white;
  font-size: 0.75em;
}
h1 {
  display: black;
}
.galaxy {
  background-color: black;
  color: wheat;
}
